@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Playfair Display", serif;
    font-weight: 400;
    font-style: normal;
}

@layer utilities {
    h1, h2, h3, h4, h5, h6 {
        font-family: "Playfair Display", serif;
    }

    .m-inline {
        margin-inline: auto;
    }

    .h-1\/12 {
        height: 10vh;
    }

    .h-vh {
        height: 100vh;
    }

    .min-h-50svh {
        min-height: 50svh;
    }

    .max-h-60svh {
        max-height: 60svh;
    }

    .max-w-60swh {
        max-width: 60svw;
    }

    .h-40svh {
        height: 40svh;
    }

    .h-50svh {
        height: 50svh;
    }

    .md\:h-50svh {
        @media (min-width: 768px) {
            height: 50svh;
        }
    }

    .md\:w-40svh {
        @media (min-width: 768px) {
            width: 40svw;
        }
    }

    .max-h-3\/4svh {
        max-height: 75svh;
    }
}