@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .m-inline {
        margin-inline: auto;
    }

    .h-1\/12 {
        height: 10vh;
    }

    .h-vh {
        height: 100vh;
    }

    .min-h-50svh {
        min-height: 50svh;
    }

    .max-h-60svh {
        max-height: 60svh;
    }

    .max-w-60swh {
        max-width: 60svw;
    }

    .h-40svh {
        height: 40svh;
    }

    .h-50svh {
        height: 50svh;
    }

    .md\:h-50svh {
        @media (min-width: 768px) {
            height: 50svh;
        }
    }

    .md\:w-40svh {
        @media (min-width: 768px) {
            width: 40svw;
        }
    }

    .max-h-3\/4svh {
        max-height: 75svh;
    }
}